
Django==3.2

multipledispatch==1.0.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.1

nucosCR==0.2.8
nucosObs==0.4.15

odfpy==1.4.1
openpyxl==3.1.2
optional-django==0.1.0
packaging==23.2

Pillow==10.1.0
pluggy==1.3.0
protobuf==4.21.12
pycparser==2.21
pycryptodomex==3.19.1
pygame==2.5.2
PyMonCtl==0.7

pyOpenSSL==23.3.0
pyproject-toml==0.0.10
pyproject_hooks==1.0.0
pytest==7.4.4


